*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}


/* styling banner */

.banner{
    background: #ffdb98;
    height: 40em;
}

.banner-text{
    padding: 16rem 3rem;
}

.banner-text h2{
    font-size: 3em;
    width: 30rem;
}

.banner-action{
    margin-top: 6rem;
}

.banner-action a{
    text-decoration: none;
}



.nav-item .registration{
    background-color: #3bb75e;
    text-align: center;
    width: 13rem;
    color: #ffff;
}

.navbar-light .d-flex .nav-item .registration{
    color: #ffff;
}

.registration{
    background-color: #3bb753;
    color: #ffff;
}

.banner .registration{
    background-color: #3bb75e;
    text-align: center;
    padding: 1rem;
    width: 20rem;
    color: #ffff;
}

.banner #contact{
    color: #3bb753;
    margin-left: 2rem;
}


/* styling payment-experience */
.payment-experience{
    margin-top: 10rem;
}

.payment-experience h1, .payment-experience p{
    line-height: 3rem;
}


.payment-gif-card{
    width: 30rem;
    height: 30rem;
    overflow: hidden;
}

.payment-gif-card img{
    width: 100%;
}

.card-wrapper{
    margin-top: -10rem;
    
    
}

.card-wrapper .col .card, .card-wrapper .col .card img{
    height: 37rem;
    border: none;
}

.service{
    display: flex;
}

.service ul li{
    list-style: none;
}

.service-right{
    margin-left: 2rem;
}


/* payment registration section */



.accept-payment{
    background-color: #eaf6fc;
    margin-top: 6rem;
    height: 30rem;
    overflow: hidden;
    padding: 3rem;
    bottom: 0;
    position: relative;
}



.account-try h1{
    width: 40rem;
}
.account-try{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.account-try .registration{
    background-color: #3bb753;
    height: 3rem;
    width: 15rem;
    padding: 0.5rem;
    text-align: center;
    overflow: hidden;
}

.account-try a{
    text-decoration: none;
}



