{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card p-3">
      <div class="d-flex flex-row justify-content-between text-align-center">
        <img src="https://imgur.com/vvK2ARv.png">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <p class="text-dark"></p>
      <div class="card-bottom pt-3 px-3 mb-2">
         <div class="d-flex flex-row justify-content-between text-align-center">
            
          <div class="d-flex flex-column"><span>Balance amount {{ wallet.balance }}</span><p>&euro; <span class="text-white">88,989</span></p>
          </div>
         
          
        </div>
        <h1>Account Number: <br> {{ wallet.account_number }}</h1>
        <h1>Bank: <br> {{ wallet.bank }}</h1>
        <a href="{% url 'transfer:card_fund' %}">Fund wallet</a>
      </div>
    </div>
  </div>
{% endblock content %}
    
